body {
  background-color: rgba(237, 157, 157, 0.2);
}
.container {
  max-width: 600px;
  border: 1px solid rgba(82, 164, 205, 0.5);
  background: rgba(237, 157, 157, 0.5);
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
}

.weather-further-info,
.city-weather-info {
  list-style: none;
}
.current-city-info-container {
  margin: 40px 50px;
}

.footer {
  margin: 30px auto;
  text-align: center;
}
.six-day-forecast {
  text-align: center;
  margin: 0 auto;
  transition: all 200ms ease;
}
.six-day-forecast:hover {
  background: rgb(255, 255, 255, 0.6);
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 10px;
}
.weather-forecast-minimum-temp {
  opacity: 0.5;
}

#search-city-submit-btn,
#search-city-input {
  padding: 10px 30px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid white;
  color: white;
}
#search-city-input {
  padding: 10px 100px;
}
#search-city-submit-btn {
  background-color: rgba(237, 157, 157, 0.5);
}
#search-city-submit-btn:hover {
  background-color: white;
  border: 1px solid rgba(237, 157, 157, 0.5);
  color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

#weather-icon {
  position: relative;
  top: 10px;
  margin-top: -30px;
  margin-left: -10px;
  height: 60px;
  width: 60px;
}

#search-city-input {
  color: black;
}
#search-city-input:focus {
  border: 1px solid rgb(250, 246, 246);
  outline: 1px solid rgba(82, 164, 205, 0.5);
}

#source-code-link {
  text-decoration: none;
  color: rgba(82, 164, 205);
}
#temperature {
  font-size: 24px;
}
#unit-conversion {
  position: relative;
  bottom: 10px;
  left: 5px;
}
#fahrenheit-unit,
#celcius-unit {
  text-decoration: none;
}
#forecast-weather-icon {
  width: 30px;
  height: 30px;
}
